/*Universal*/   

/*Talvez a melhor forma de fazer uma imagem responsiva seja usando vh, aspect-ratio (para manter a proporção entre altura e largura) e definindo uma altura mínima para que a imagem não fique minúscula em telas menores.*/

*{
    box-sizing: border-box;
    /*border: 1px solid gray;*/
}

body{
    overflow-x: hidden;
}

p{
    font-size: 1.1rem;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 3rem;
}

h2{
    text-align: center;
    font-size: 1.3rem;
}

h3{
    font-size: 2.5rem;
}

header{
    box-shadow: 0px 5px 5px 5px black;
    position: relative;
    z-index: 2;
    background-color: rgb(66, 34, 3);
    display: flex;
    justify-content: center;
    padding: 0.2% 0% 0.5% 0%;
}

nav figure{
    margin: 0;
    align-items: center !important;
    justify-content: center !important;
}

nav img{
    height: 10vh;
    width: auto;
    min-height: 70px;
}

nav ul{
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 1.2rem;
    margin-left: 2%;
}

.navbar-toggler{
    background-color: rgb(204, 202, 188);
    margin-right: 40px; 
}

section{
    border-bottom: 5px solid gold;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.reverse-colors{
    background-image: url(background.png);
    background-color: rgba(66, 34, 3, 0.7);
    background-blend-mode: lighten;
    background-size: contain;
    color: white;
}

footer{
    background-color: rgb(24, 24, 24);
    min-height: 30vh;
    padding: 0% 15% 30px 15%;
    align-items: flex-start;
}

footer address,
footer nav,
footer div{
    display:grid;
    justify-content: center;
}

footer p{
    text-align: left;
}

.footer-title{
    color: rgb(209, 207, 207);
    font-weight: bold;
    font-size: 1.3rem;
    margin: 7% 0% 5% 0%;
}

.footer-subtitle{
    color: goldenrod;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
    margin: 0px;
}

.footer-text{
    font-size: 1rem;
    color: white;
}

footer li{
    text-align: left;
    padding-bottom: 2%;
    list-style-type: none;
}

footer ul{
    padding-left: 0;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.fb-logo{
    min-width: 20px;
    max-width: 40px;
    height: auto;
    margin-right: 10px;
}

.wpp-logo{
    min-width: 23px;
    max-width: 43px;
    height: auto;
}

#bt-whatsApp{
    right:25px;
    position:fixed;
    width:60px;
    height:80px;
    bottom:40px;
    z-index:100;
    overflow-x: visible;
}

#whatsapp-message{
  right: 90px;
  visibility: visible;
  background: #1EBC59;
  color: #fff;
  position: fixed;
  width: 200px;
  bottom: 52px;
  text-align: center;
  font-size: 20px;
  line-height: 31px;
  height: 65px;
  border-radius: 100px;
  z-index: 100;
}


/*Index*/
.carousel-inner{
    box-shadow: 0px 5px 5px 5px black;
    position: relative;
    z-index: 1;
}

#temp-message{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-width: 300px;
    height: auto;
    min-height: 150px;
    background-color: rgba(238, 238, 238, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border: 5px solid rgb(77, 77, 77);
    border-radius: 3%;
    padding: 1%;
    padding-bottom: 2%;
}

#temp-message p{
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

#temp-message .btn{
    margin-bottom: 0% !important;
    bottom: 15px !important;
    background-color: rgb(89, 89, 190);
}

#homepage #section-2 img{
    min-width: 250px !important;
    max-width: 300px !important;
    height: auto;
}

#homepage #section-3 img{
    min-width: 270px !important;
    max-width: 300px !important;
    height: auto;
}

#homepage #section-4 img{
    border: 2px solid black;
    min-width: 250px !important;
    max-width: 300px !important;
    height: auto;
}

section a{
    text-decoration: none;
}

#homepage .btn{
     width: 150px;
     margin-left: 0;
     margin-bottom: 40px;
}

#homepage section{
    padding-left: 50px;
    padding-right: 50px;
    gap: 5%;
}

#homepage #section-1{
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

#homepage #section-1 h1{
    margin-bottom: 1rem;
    text-align: center;
}

#homepage #section-5{
    min-height: 30vh;
    text-align: center;
    padding-top: 1%;
    align-items: center;
    justify-content: center;
}

#homepage #section-5 .card{
    background-color: rgba(219, 99, 1, 0.4);
    color: white;
    margin-bottom: 3%;
    min-width: 370px;
    max-width: 420px;
    padding: 0;
}

#homepage #section-5 .card :hover{
    background-color: rgb(109, 44, 1);
}


#homepage #section-5 .row{
    justify-content: center;
    margin-top: 2%;
    gap: 3%;
}

#homepage #section-5 p,
#homepage #section-5 a{
    text-align: center;
    color: white;
}

#homepage #section-5 h3{
    color: rgb(221, 220, 220);
    text-decoration: underline;
}


/*Quem Somos*/
#quem-somos main{
    border-bottom: 5px solid gold;
}

#quem-somos section{
    margin: 30px 10% 30px 10%;
    border: 0;
}

#quem-somos main .row{
    text-align: justify;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5%;
}

.quem-somos-logo-fig{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.quem-somos-logo-img{
    min-width: 200px;
    max-width: 250px;
    height: auto;
    margin-bottom: 1%;
}

#quem-somos h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#quem-somos h4{
    text-align: center;
    margin-bottom: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.quem-somos-fig-1{
    display: flex;
    justify-content: center;
    min-width: 230px;
    max-width: 250px;
    height: auto;
}

.quem-somos-img-1{
    width: 100%;
    height: auto;
}

#quem-somos main .row{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}



/*Nossas Máquinas*/
#maquinas section{
    padding: 40px 10% 50px 10%;
}

#maquinas h4{
    text-align: center;
    margin-bottom: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#maquinas #section-1{
    text-align:center;
    justify-content: center;
    gap: 4%;
    padding: 40px 3% 50px 3%;
}

#maquinas #section-1 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

#maquinas #section-1 figcaption{
    font-style: italic; 
    margin-top: 5%;
}

#maquinas #section-1 figure{
    display: inline-block;
    height: 100%;
    width: auto;
}

#maquinas main img{
    height: 40vh;
}

#maquinas #section-1 img{
    height: 20vh;
    border: 5px solid rgb(0, 121, 0);
    padding: 2%;
    border-radius: 100%;
    background-color: black;
}

#maquinas #section-1 figure :hover{
    border-color: goldenrod;
}


/*Café e Insumos*/
#cafe main .row{
    padding: 40px 10% 30px 10%;
}

#cafe h4{
    text-align: center;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#cafe #section-1{
    padding-top: 2%;
    padding-bottom: 2%;
}

#cafe #section-1 h1{
    text-align: center;
}

#cafe #section-1 p{
    text-align:center;
    padding-bottom: 2%;
}

#cafe #section-2 img{
    min-width: 225px !important;
    max-width: 275px !important;
    height: auto;
}

#cafe #section-3 img{
    min-width: 250px;
    max-width: 350px;
    height: auto;
    border: 1px solid black;
    margin-left: 20%;
}


/*Manutenção*/
#manutencao main{
    margin: 30px 10% 30px 10%;
}

#manutencao main .row{
    text-align: justify;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10%;
}

#manutencao h1{
    text-align: center;
    margin-bottom: 10px;
}

#manutencao h4{
    text-align: center;
    margin-bottom: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#manutencao .figure-manutencao{
    display: flex;
    justify-content: center;
}

#manutencao .img-manutencao{
    min-width: 400px;
    max-width: 500px;
    height: auto;
    border: 2px solid black;
}


/*Fale Conosco*/
#fale-conosco main{
    color: black;
    margin: 40px 0 40px 0;
    text-align: center;
    justify-content: center;
}

.contact-row{
    justify-content: center;
    gap: 3%;
}

.contact-row p{
    text-align: center;
}

#fale-conosco .card{
    background-color: rgba(88, 35, 0, 0.8);
    color: white;
    margin-bottom: 3%;
    min-width: 350px;
    max-width: 400px;
}

#fale-conosco .card :hover{
    background-color: rgb(109, 44, 1);
}

#fale-conosco .card p,
#fale-conosco .card a{
    text-align: center;
    color: white;
    text-decoration: none;
}

#fale-conosco h1{
    margin-bottom: 30px;
    text-decoration: underline;
}

#fale-conosco h2{
    font-size: 2rem;
}

#fale-conosco h2, h3{
    justify-content: center;
}

#fale-conosco h3{
    text-decoration: underline;
}

form{
    border: 1px solid rgb(146, 145, 145);
    padding: 2%;
    padding-top: 0;
    margin-top: 30px !important;
}

fieldset{
    padding-top: 2%;
    text-align: left;
    margin-top: 30%;
}

label{
    margin-top: 2%;
}

#fale-conosco .btn{
    margin-left: 1%;
    margin-top: 2%;
}
